.note_form {
  position: relative;
  display: inline-block;
}

.icon {
  position: absolute;
  right: 5px;
  top: 10%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #000;
}

.icon svg {
  margin: 0 3px;
  color: gray;
  font-size: 20px;
}

.note-display {
  margin-top: 20px;
}

.card_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit_and_delete {
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
}

.note_card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  border: none;
  margin-top: 20px;
  /* margin-left: 70px; */
}

.delete_icon {
  color: red;
}

.edit_icon {
  color: green;
}

.created_text {
  font-style: italic;
  font-size: small;
}

.card_title {
  text-transform: capitalize;
  font-weight: 600;
  color: black;
  font-size: large;
}

.card_note {
  text-transform: capitalize;
  font-size: medium;
}

.note_display {
  margin-top: 2.5rem;
}